/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {

	/* ---------------------------------
	INTRO SECTION
	--------------------------------- */

	.intro-section{ padding-top: 150px; }

}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

	/* ---------------------------------
	PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.8em; }



	/* ---------------------------------
	COMMONS FOR PAGE DESIGN
	--------------------------------- */

	.section{ padding: 50px 0 0px; }

	.section .heading{ margin-bottom: 30px; }


	/* ---------------------------------
	INTRO SECTION
	--------------------------------- */

	.intro-section{ padding-top: 200px; }

	/* ---------------------------------
	EXPERIENCE SECTION
	--------------------------------- */

	.experience-wrapper:after,
	.experience-wrapper .experience:after{ display: none; }

	.experience-wrapper .experience{
		border-top: 1px solid gray;
		padding-top: 12px;
		margin-bottom: 12px;
	}

	/* ---------------------------------
	EDUCATION SECTION
	--------------------------------- */

	.education-wrapper:after,
	.education-wrapper .education:after{ display: none; }

	.education-wrapper .education{
		border-top: 1px solid gray;
		padding-top: 12px;
		margin-bottom: 12px;
	}

}

/* Screens Resolution : 575px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 575px) {

	/* ---------------------------------
	PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 14px;  }


}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {

	/* ---------------------------------
	HEADER
	--------------------------------- */

	header .heading-wrapper{  padding: 30px 20px 20px; }

	header .info .icon{ font-size: 25px; }

	header .info .right-area{ margin-left: 35px; }

}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 260px) {

	/* ---------------------------------
	HEADER
	--------------------------------- */

	header .heading-wrapper{  padding: 10px 15px 0px; }

	header .info .icon{ font-size: 15px; }

	header .info .right-area{ margin-left: 20px; }

	/* ---------------------------------
	INTRO SECTION
	--------------------------------- */

	.intro .profile-img{ width: 80%; height: auto; top: 0; margin-bottom: 10px; }

	.intro{ padding: 20px 10px 0; margin-right: -15px; margin-left: -15px; }

}
